{% extends 'base.html' %} 
{% block title %}Add Notes{% endblock %}
{% block content %}
<div class="container-form" >
	<section class = "formContainer" style="display: flex;justify-content: center;">
		<form action="" method="POST" style="display: flex; flex-direction: column; gap: 16px;">
			<div class = "titleForm">
				<h1 style="justify-content: center;display: flex;">Add Notes</h1>
			</div>
			<div class = "subTitleForm">
				<h4 style="justify-content: center;display: flex;">🐇Write some notes for your friends!🐇</h4> 
			</div>
			<!-- biar yang kayak gt gak kevalidasi -->
			{% csrf_token %} 
			<div class = "form-group form-wrapper" >
				<div class="fieldWrapper">
					{{ form.to.errors }}
					<label 
					for="{{ form.to.id_for_label }}"
					class="d-flex justify-content-start w-100">To:</label>
					<div class="d-flex justify-content-end w-100">{{form.to}}</div>
				</div>
				<div class="fieldWrapper">
					{{ form.to.errors }}
					<label 
					for="{{ form.From.id_for_label }}"
					class="d-flex justify-content-start w-100">From:</label>
					<div class="d-flex justify-content-end w-100">{{form.From}}</div>
				</div>
				<div class="fieldWrapper">
					{{ form.to.errors }}
					<label 
					for="{{ form.title.id_for_label }}"
					class="d-flex justify-content-start w-100">Title:</label>
					<div class="d-flex justify-content-end w-100">{{form.title}}</div>
				</div>
				<div class="fieldWrapper">
					{{ form.to.errors }}
					<label 
					for="{{ form.message.id_for_label }}"
					class="d-flex justify-content-start w-100">Message:</label>
					<div class="d-flex justify-content-end w-100">{{form.message}}</div>
				</div>
			</div>
			<input type="submit" value="Submit">
		</form>
	</section>
</div>
{% endblock %}
 