<!-- as the template to show our Note model in card format. -->
{% extends 'base.html' %} 
{% block title %}Note List{% endblock %}
{% block content %}
<div class="container-noteList">
    <section class="note-Wrap" style="margin-top: 20px; margin-bottom: 20px;">
        <div class = "titleList">
            <h1 style="justify-content: center;display: flex; color: rgb(255, 255, 255); padding: 20px;">Note List</h1>
        </div>
        <div style="display: flex; flex-wrap:wrap; gap: 12px;justify-content: center;">
            {% for i in notes %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">{{i.title}}</h5>
                <h6 class="card-subtitle to mb-2 text-muted">To : {{i.to}}</h6>
                <h6 class="card-subtitle to mb-2 text-muted">From : {{i.From}}</h6>
                <p class="card-text">{{i.message}}</p>
                <div style="display: flex;">
                    <a href={% url 'add-note' %} class="card-link d-flex justify-content-start w-100" >Add Notes</a>
                    <a href={% url 'index-lab4' %} class="card-link d-flex justify-content-end w-100" >Home</a>
                </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}