{% extends 'base.html' %} 
<html lang="en" >
  {% block title %}FROM N' FOR{% endblock %} 
  {% block content %}
  <div class="container-anu">
    <section class="tableWrap">
      <div class = "titleTable">
        <h1 style="justify-content: center;display: flex;">FROM N' FOR</h1>
      </div>
      <div class = "subTitleTable">
        <h4 style="justify-content: center;display: flex;">🐇Notes for your friends!🐇</h4> 
      </div>
      <table class="table table-dark table-striped" style="max-width: 600px;">
        <thead>
          <tr>
            <th scope="col">To</th>
            <th scope="col">From</th>
            <th scope="col">Title</th>
            <th scope="col">Message</th>
          </tr>
        </thead>
        <tbody>
          {% for i in notes %}
          <tr>
            <td>{{i.to}}</td>
            <td>{{i.From}}</td>
            <td>{{i.title}}</td>
            <td>{{i.message}}</td>
          </tr>
          {% endfor %}    
        </tbody>
      </table>
    </section>
  </div>
  {% endblock %}
  
