{% load static %}
<!DOCTYPE html>
<html lang="en" >
  <head>
    <link rel="stylesheet" href="{%static 'css/lab3.css'%}" />
    <meta charset="UTF-8" />
    <title>From N' For</title>
  </head>
  <body>
    <div class = "header">
      <h1>🐇Friend List🐇</div>
    </div>
    <h2>*★,°*:･ﾟ✧::.☆(ﾉ◕ヮ◕)ﾉ*:･ﾟ✧:*.°★* 。</h2>
    <div class = "ibunda">
      <div class = "background-table">
        <table>
          <tr>
            <th >Name</th>
            <th >NPM</th>
            <th >DOB</th>
          </tr>
          <!-- TODO loop from Friend model -->
          {% for i in friends %}
          <tr>
            <td>{{i.name}}</td>
            <td>{{i.npm}}</td>
            <td>{{i.birth_date}}</td>
          </tr>
          {% endfor %}      
        </table>
      </div>
      
    </div>
  </body>
</html>
