{% load static %}
<!DOCTYPE html>
<html lang="en" >
  <head>
    <link rel="stylesheet" href="{%static 'css/lab2.css'%}" />
    <meta charset="UTF-8" />
    <title>From N' For</title>
  </head>
  <body>
    <div class = "header">
      <h1>FROM N' FOR</div>
    </div>
    <h2>🐇Write a letter to your friends!🐇</h2>
    <div class = "ibunda">
      <div class = "background-table">
        <table>
          <tr>
            <th >To</th>
            <th >From</th>
            <th >Title</th>
            <th >Message</th>
          </tr>
          <!-- TODO loop from Friend model -->
          {% for i in notes %}
          <tr>
            <td>{{i.to}}</td>
            <td>{{i.From}}</td>
            <td>{{i.title}}</td>
            <td>{{i.message}}</td>
          </tr>
          {% endfor %}      
        </table>
      </div>
      
    </div>
  </body>
</html>
