body{
    background-color: rgb(202, 164, 238);
}

h1{
    color:rgb(64, 42, 160);
    font-size: 40px;
    font-family: 'Verdana';
    display: flex;
    justify-content: center;
}
h2{
    color:rgb(60, 0, 116);
    font-size: 20px;
    font-family: 'Lucida Grande';
    display: flex;
    justify-content: center;
}

table{
    margin : 20px 10px 20px 10px;
    display: flex;
    justify-content: center;
    font-family: 'Lucida Grande';
    width:100%;
    border-radius:20px;
}
td, th {
    border: 1px solid;
    text-align: left;
    padding: 12px;
    border-color: rgb(255, 255, 255);
}
.background-table{
    border: 1px solid rgb(241, 168, 196);
    background-color: rgb(241, 168, 196);
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    /* box-shadow: rgba(169, 147, 201, 0.644) 0px 0px 0px 3px; */
    box-shadow: rgba(169, 147, 201, 0.322) 0px 0px 0px 3px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.ibunda {
    padding-top : 20px;
    padding-bottom: 100px;
    padding-right: 300px;
    padding-left: 300px;
    
}