.fieldWrapper{
    display: flex !important; 
    gap: 16px;
}
.form-wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.container-anu{
    background-image: url("https://i.pinimg.com/564x/88/0e/a9/880ea91e24cee8dbb9780a87be82b265.jpg");
    background-size : cover;
    min-width: -moz-available;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.container-form{
    background-image: url("https://i.pinimg.com/564x/39/59/67/395967c37ff6d7191d92a9224b9357d1.jpg");
    background-size : cover;
    min-width: -moz-available;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

}
.titleTable{
    padding: 20px 0;
    color: rgb(255, 255, 255);
}
.subTitleTable{
    padding-bottom: 20px;
    color: rgb(255, 255, 255);
}
.formContainer{
    background-color: rgba(247, 226, 220, 0.5);
    padding: 20px;
    border-radius: 12px;
    margin: 24px 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.container-noteList{
    background-image: url("https://i.pinimg.com/564x/36/4b/cc/364bcc678eb8a79bb2001b8d899a8590.jpg");
    background-size : cover;
    min-width: -moz-available;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.note-Wrap{
    padding: 20px;
    margin: 24px 0;
}
